
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="widget">
                </div> 
            </div> 
        </div>

        <div class="colophon">
            <div class="copy">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
        </div> 
    </div> 
</div> 


<div class="overlay"></div>

<div class="auth-popup popup">
<a href="#" class="close"><i class="fa fa-times"></i></a>
<div class="row">
    <div class="col-md-6">
        <h2 class="section-title">Login</h2>
        <form action="#">
            <input type="text" placeholder="Username...">
            <input type="password" placeholder="Password...">
            <input type="submit" value="Login">
        </form>
    </div> 
    <div class="col-md-6">
        <h2 class="section-title">Create an account</h2>
        <form action="#">
            <input type="text" placeholder="Username...">
            <input type="text" placeholder="Email address...">
            <input type="submit" value="register">
        </form>
    </div> 
</div> 
</div>	